[Desktop Entry]
Type=Application
Version=1.0
Name=Olympus
Comment=Celeste Mod Manager
Exec=olympus %u
Icon=olympus
Terminal=false
Categories=Game;Application;
MimeType=x-scheme-handler/everest
